$fondo-body:  #256D85;
$fondo-header: #06283D;
$fondo-hiv: rgba(214, 34, 34, 0.863);
$fondo-footer:#D8E9A8;
$fondo-recomendacion: #F0E161;
$fondo-btn:  rgba(0, 0, 205, 0.507);
$fondo-indpages:#256D85;
$fondo-horarios: #417D7A;
$fondo-indicadores: darkseagreen;

$fonts-title: 'Playfair Display', serif;
$fonts-text: 'Verdana', Geneva, Tahoma, sans-serif;
$fonts-name: 'Cinzel', serif;
$fonts-horarios: 'PT Serif', serif;


$letras-texto: papayawhip;
$letras-titulos: black;
$letra-extraccion: darkred;
$letra-bienvenido:  rgb(16, 16, 138);

$color-yellow: yellow;
$color-green: green;
$color-orange: orange;



