.textoIngreso{
    font-family: $fonts-title;
    margin: 13px;
    text-align: center;
    
}

.linkIngreso{
    text-decoration: underline;
    color: $letra-bienvenido;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s ease-out;
    &:hover{
        color: $letras-texto;
    }
}


    
 
    

