.textoIngreso{
    font-family: $fonts-title;
    margin: 13px;
    text-align: center;
    
}

.linkIngreso{
    text-decoration: underline;
    color: $letra-bienvenido;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s ease-out;
    &:hover{
        color: $letras-texto;
    }
}

.spanMensajeRequerido {
    color: #BB1E1E;
    padding: 4px;
    position: absolute;
    float: right;
    position: initial;
    margin-top: -32px;
    margin-right: 4px;
    border-radius: 6px;
    font-weight: bold;
  }
  
  .swal2-popup{
    height: 350px;
    width: 600px !important;
  }
  
  .swal2-html-container{
    font-size: 16px !important;
  }
    
 
    

