.navbar-nav .nav-link.active{
    color: $letras-texto;
}

header{
    background-color: $fondo-header;
}

.name {
    color: $letras-texto;
    font-family: $fonts-name;
}

.nav-link {
    text-decoration: underline;
    font-size: 20px;
    font-family: $fonts-title;
    margin: 10px;
    padding: 4px;
    font-weight: 570;
    letter-spacing: 1.1px;
    cursor: pointer;
    transition: all .4s ease-out;
    border-radius: 10px;
    border: 2px solid $letras-texto;
    background-color: $fondo-indpages;

    &:hover {
        transform: scale(1.2);
        border: 2px solid rgb(13, 14, 13);
        text-decoration: underline;
    
    }
}